        /* CSS for the body */
        body {
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            background-color: #f1f1f1;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        a {
            text-decoration: none;  /* Remove the underline from the anchor tag */
            display: block;
        }
        
        a h1 {
            color: black;  /* Setting the color to black */
            display: block;
            text-align: center;
            padding: 20px;
            margin: 0;
        }
        
        a:hover h1,
        a:active h1,
        a:focus h1 {
            color: black;  /* Ensuring the color remains black even on hover, active, or focus states */
        }
        
        
        

        /* CSS for the navigation bar */
        nav {
            text-align: center;
            background-color: #333;
        }

        nav ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

        nav ul li {
            display: inline-block;
        }

        nav ul li a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

        nav ul li a:hover {
            background-color: #111;
        }

        /* CSS for the section */
        section {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        /* CSS for the table */
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        tr:hover {
            background-color: #f5f5f5;
        }

        /* CSS for the images */
        img {
            width: 200px;
            height: 200px;
            margin: 10px;
        }

        /* CSS for the footer */
        footer {
            text-align: center;
            padding: 20px;
            background-color: #333;
            color: white;
        }

        .product_container  {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
            grid-auto-rows: minmax(300px, auto);
            gap: 20px;
            justify-items: center;
            align-items: start;
            margin: 20px;
        }

        .product {
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            align-items: center;
        }
        .divider {
            width: 100%;
            border-top: 1px solid #ccc;
            margin: 20px 0;
        }
        
        .title_page {
            font-size: 20px;
            font-weight: bold;
            margin: 20px;
            text-align: center;
        }

        .text_box {
            background-color: #f1f1f1;
            padding: 30px;
            margin: 30px;
            text-align: center;
        }

        .info_image {
            padding-top: 80px;
            justify-content: center;
            text-align: center;

        }
        /* Styles for .product-detail */
        .product-detail {
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: #fff;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            margin: 20px;
            padding: 20px;
            border-radius: 10px;
        }

        .product-detail img {
            margin-bottom: 20px;
            max-width: 300px; /* You can adjust this value based on the desired maximum width */
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        .product-detail p {
            margin: 10px 0;
            text-align: center;
        }

        .product-detail h2 {
            margin-top: 0;
            margin-bottom: 20px; /* Adjust this value based on your design needs */
            text-align: center; /* This will center the text horizontally */
            color: #444;
        }